.btn-primary {
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  width: 170px;
  height: 50px;
  align-self: center;
  border: none;
  margin-top: 1.5rem;
  background-color: #202eadf3;
  border: 1px solid #202eadf3;
  font-family: 'Poppins', sans-serif;
  transition: background-color .1s;
}

.btn-primary:hover {
  background-color: #060f5f;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-save {
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  width: 170px;
  height: 50px;
  align-self: center;
  border: none;
  margin-top: 1.5rem;
  background-color: #0f9c53;
  border: 1px solid #0f9c53;
  font-family: 'Poppins', sans-serif;
  transition: background-color .1s;
}

.btn-save:hover {
  background-color: #0c7941;
  border: 1px solid #ffffff;
  color: #ffffff;
}

html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}
.hero.is-success {
  background: #3c6a85ad;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}

.table{
  border-spacing: 10px 30px;
  margin-top:80px;
  text-align: center;
  background-color:#f2f2f285;
  width: 1000px;
  border: 1px solid #000000;
  width: 80% !important;
  margin: auto;
}

#btnEdit{
  height: 28px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: #016a78;
  border: 1px solid #016a78;
}

#btnEdit:hover {
  background-color: #003941;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#btnDelete{
  height: 28px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: #cc3535f3;
  border: 1px solid #cc3535f3;
}

#btnDelete:hover {
  background-color: darkred;
  border: 1px solid darkred;
  color: #ffffff;
}

.table-responsive{
  width: 100% !important;
}

.table-status {
    margin-top: 20px;
    margin-bottom: 20px !important;
}

#inputSearch{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  margin-left: 5px;
  height: 30px;
  max-width: 20%;
  width: 20%;
}

#btnSearch{
  height: 30px;
  font-size: 15px;
  margin-left: 15px;
}